---
import MySiteLayout from "../layouts/MenuLayout.astro";
import Footer from "../components/footer.astro";
---

<MySiteLayout>
    <p>¡El contenido de mi página, envuelto en una plantilla!</p>
    <Footer />
</MySiteLayout>

<style>
    p {
        text-align: center;
        padding: 200px;
    }
</style>
