<style>
    footer {
      background-color: #f1f1f1;
      padding: 10px;
      text-align: center;
    
    }
  
    footer p {
      font-size: 14px;
      color: #000000;
      margin: 0;
      font-weight: 800;
    }
  </style>
  
  <footer>
    <p>Este es el texto de mi footer desde un componente.</p>
  </footer>
  